<?xml version="1.0" encoding="UTF-8"?>
<chapter>
  <chapterinfo>
    <title>Die Menüs</title>

    <date>2.1.2008</date>

    <releaseinfo>In Bearbeitung</releaseinfo>

    <edition>CacheWolf 1.0</edition>

    <author>
      <surname>Marc Schnitzler</surname>
    </author>

    <revhistory>
      <revision>
        <revnumber>0.1</revnumber>

        <date>2. Januar 2008</date>

        <author>
          <surname>Marc Schnitzler</surname>
        </author>

        <revdescription>
          <para>Erster Entwurf</para>
        </revdescription>
      </revision>

      <revision>
        <revnumber>0.2</revnumber>

        <date>16.3.2008</date>

        <author>
          <surname>Marc Schnitzler</surname>
        </author>

        <revdescription>
          <para>Etwas mehr geschafft...</para>
        </revdescription>
      </revision>
    </revhistory>
  </chapterinfo>

  <title id="menue">Die Menüs</title>

  <section>
    <title>Anwendung</title>

    <para></para>

    <section>
      <title id="profil">Profil</title>

      <para>Dieser Menüpunkt erlaubt die Anlage eines neuen Profils, oder das
      aktuelle Profil zu wechseln. Bei <literal>Profil -&gt; Laden</literal>
      wird die gleiche Maske gezeigt, wie beim Start von Cachewolf.</para>

      <para>Profile sind im Prinzip nichts anderes, wie ein Verzeichnis
      unterhalb des Basisverzeichnisses, dass Du beim ersten Start (siehe:
      <xref linkend="start" />) von Cachewolf angelegt hast. In dem
      Profilverzeichnis befindet sich eine Datei mit Namen index.xml. Diese
      Datei enthält, neben der Liste der Caches, die in diesem Verzeichnis
      gespeichert sind, Angaben zum gesetzten Zentrum und die
      Filtereinstellungen (für dieses Profil).</para>
    </section>

    <section>
      <title>Preferenzen</title>

      <para>Mit diesem Menüpunkt gelangt man zur Einstellung der Präferenzen.
      Dieses wurde hier: <xref linkend="editPrefs" /> beschrieben.</para>
    </section>

    <section>
      <title id="zentrum">Zentrum</title>

      <para>Unter diesem Menüpunkt kann das Zentrum gesetzt werden. Das
      Zentrum wird in der Listenansicht (siehe: <xref linkend="liste" />) und
      im Radar (siehe: <xref linkend="radar" />) genutzt, um Entfernungen zu
      berechnen und anzuzeigen.</para>

      <para>Nach der Menüauswahl erscheint das nachfolgende Fenster:</para>

      <para><inlinemediaobject>
          <imageobject>
            <imagedata fileref="pics/zentrum.jpg" />
          </imageobject>
        </inlinemediaobject></para>

      <para>Die Koordinaten, die neben <literal>Aktuell</literal> stehen, sind
      die Koordinaten, die Cachewolf gerade als Zentrumskoordinaten betrachtet
      (offensichtlich). Die Koordinaten, die neben <literal>Profil</literal>
      stehen sind gespeichert, d.h. beim nächsten Start von Cachewolf werden
      diese Koordinaten als Zentrumskoordinaten gesetzt. Durch einen Klick auf
      die Pfeile nach Unten, bzw. Oben kann man die Koordinaten hin und her
      kopieren.</para>

      <para>Durch einen Klick auf die Koordinaten selbst gelangt man zu
      nachfolgendem Fenster:</para>

      <para><inlinemediaobject>
          <imageobject>
            <imagedata fileref="pics/coordsparser.jpg" />
          </imageobject>
        </inlinemediaobject></para>

      <para></para>

      <para></para>
    </section>

    <section>
      <title>Import</title>

      <para></para>

      <section>
        <title>Importiere GPX</title>

        <para>Um an Geocaching.com GPX-Dateien zu kommen, muss man
        Premium–Mitglied sein. Diese Dateien werden per Mail verschickt. Die
        Dateien können einfach in ein Verzeichnis abgelegt werden. Die Dateien
        müssen nicht entpackt werden.</para>

        <para>Den Import startest Du durch anwählen von "Anwendung -&gt;
        Importiere GPX". Du kannst eine Datei oder mit der Verwendung der
        Umschalt - Taste mehrere Dateien auswählen.</para>

        <para>Nach der Wahl der Datei, die du importieren möchtest, bekommst
        du die Frage, ob Du auch Bilder und herunterladen möchtest und ob
        bereits gefundene Caches auch geladen werden sollen.</para>

        <para><inlinemediaobject>
            <imageobject>
              <imagedata fileref="???" />
            </imageobject>
          </inlinemediaobject></para>

        <para>Aktivierst du diese Option(en), solltest du eine bestehende
        Verbindung ins Internet haben. Hast Du die Option "Bilder" angekreuzt
        wird CacheWolf beim Einlesen der GPX–Datei auf der Cacheseite
        nachschauen, ob Bilder in der Beschreibung bzw. ob Spoilerbilder
        vorhanden sind. Diese werden heruntergeladen. Das Herunterladen von
        Bildern benötigt etwas Zeit.</para>

        <para><emphasis>Hinweis zu den Additional Waypoints:</emphasis> Leider
        werden von geocaching.com in der GPX - Datei nur die "Additional
        Waypoints" mitgeschickt, die auch eine gültige Koordinate haben. Das
        Dilemma ist aber, dass bei den meisten Multis, diese Koordinaten erst
        ermittelt werden müssen. Normalerweise stellt dies noch immer kein
        Problem dar; aber einige Geocacher beschreiben die einzelnen Stationen
        innerhalb der "Additional Waypoints", da diese aber keine Koordinaten
        haben und nicht in der GPX Datei nicht mitgeschickt werden, fehlen
        vitale Informationen. Dem kann aber abgeholfen werden: CacheWolf
        bietet die Möglichkeit, einzelne Caches aktualisieren zu können und
        hier werden auch die Additional Waypoints direkt von der Cacheseite
        geladen, die keine Koordinaten haben (siehe <xref
        linkend="markierte_akt" />).</para>
      </section>

      <section>
        <title>Download von Opencaching.de</title>

        <para></para>
      </section>

      <section>
        <title>Spider von geocaching.com</title>

        <para></para>
      </section>

      <section>
        <title id="markierte_akt">Markierte aktualisieren</title>

        <para></para>
      </section>

      <section>
        <title>Always login to gc.com</title>

        <para></para>
      </section>
    </section>

    <section>
      <title>Export</title>

      <para></para>

      <section>
        <title id="zu_garmin" xreflabel="Export zu Garmin">Zu Garmin</title>

        <para>Dieser Menüeintrag ist nur dann Aktiv, wenn GPSBabel in dem
        CacheWolf Verzeichnis gefunden wurde. Von GPSBabel müssen die beiden
        Dateien:</para>

        <orderedlist>
          <listitem>
            <para>gpsbabel.exe, und</para>
          </listitem>

          <listitem>
            <para>libexpat.dll</para>
          </listitem>
        </orderedlist>

        <para>vorhanden sein.</para>
      </section>
    </section>

    <section>
      <title id="karten">Karten</title>

      <para>Mit CacheWolf (ab der Version 0.9m) ist es möglich, Karten zu
      importieren und zu kalibrieren. Diese werden dann als Moving Map genutzt
      (siehe <xref lang="" linkend="goto" />).</para>

      <sidebar>
        <para>Eine Moving Map unterscheidet sich von den typischen mobilen
        Navigationssystemen (die heute häufig auf PDAs im Auto genutzt werden)
        dadurch, dass dem Computer keinerlei Information über Strassen und
        Wege vorliegen. Der Computer kann "nur" von einer GPS Koordinate auf
        die x/y Koordinaten der Karte umrechnen und kann dadurch auf der Karte
        darstellen, wo man sich befindet.</para>
      </sidebar>

      <para></para>

      <section>
        <title>Kalibrierte herunterladen</title>

        <para>Über diese Funktion lassen sich georeferenzierte Karten direkt
        aus dem Internat laden. Hierbei können zwei grundsätzlich
        unterschiedliche Quellen genutzt werden. Expedia wurde schon in
        früheren Versionen angeboten. Mit der 1.0 werden nun WMS Quellen
        ebenfalls angeboten.</para>

        <sidebar>
          <para>Ein Web Map Service (WMS) ist ein Web Service, der auf den
          OGC-WMS Implementation Specifications beruht, einer Schnittstelle,
          um Karten aus dem Internet zu laden. Expedia ist eine Webseite, die
          von Microsoft betrieben wird und Karten der USA und von Europa
          anbietet. CacheWolf kann diese Webseite aufrufen und die dort
          angebotenen Karten herunterladen und automatisch kalibrieren.</para>
        </sidebar>

        <para>Siehe die Datei <literal>readme_wms.txt</literal> im Verzeichnis
        <literal>webmapservices</literal>, um eigene WMS Quellen
        einzubinden.</para>

        <para>Mit der 1.0 werden Quellen für Karten folgender Bundesländer
        angeboten:</para>

        <itemizedlist>
          <listitem>
            <para>Deutschland TOPO 1000</para>
          </listitem>

          <listitem>
            <para>Deutschland TOPO 500</para>
          </listitem>

          <listitem>
            <para>Deutschland TOPO 200</para>
          </listitem>

          <listitem>
            <para>TOPO 50 Bayern</para>
          </listitem>

          <listitem>
            <para>TOPO 50 Baden-Würtemberg</para>
          </listitem>

          <listitem>
            <para>TOPO 50 Rheinland Pfalz</para>
          </listitem>

          <listitem>
            <para>TOPO 50 Mecklenburg Vorpommern</para>
          </listitem>

          <listitem>
            <para>TOPO 50 Sachsen</para>
          </listitem>

          <listitem>
            <para>TOPO 50 Sachsen Anhalt</para>
          </listitem>

          <listitem>
            <para>TOPO 50 Nordrhein Westphalen</para>
          </listitem>

          <listitem>
            <para>TOPO 50 Baden-Würtemberg</para>
          </listitem>
        </itemizedlist>

        <para>Für einige Bundesländer sind ebenfalls Luftbildaufnahmen
        verfügbar.</para>

        <para>Nach dem Klick auf diese Menüoption erscheint folgendes
        Fenster:</para>

        <para><inlinemediaobject>
            <imageobject>
              <imagedata fileref="pics/georef_laden.jpg" />
            </imageobject>
          </inlinemediaobject></para>

        <para>Hier muss man nun unterscheiden, was genau man haben möchte. Mit
        dem Reiter "Tiles" werden aneinander hängende Kacheln geladen. Wie
        viele wird bestimmt durch die Auswahl "all caches", bzw. "selected
        caches" in Verbindung mit dem gesetzten Hacken bei
        <literal>for</literal>. Wählt man "all" wird CacheWolf ein Rechteck
        berechnen, der alle Caches umfasst und dann Kacheln gemäß der
        eingestellten Genauigkeit (<literal>Approx. m per pixel</literal>)
        bilden und herunterladen. Die Angabe bei overlapping in pixel legt
        fest, wie viel die einzelnen Kacheln sich überlappen, sprich bei 0
        liegen die Kachelkanten genau aneinander, ansonsten überschneiden sie
        sich.</para>

        <para>Statt die Kachel für alle Caches zu laden kann man auch sagen,
        dass ein Rechteck um eine gesetzte Mitte (<literal>around the
        center</literal>) heruntergeladen werden soll.</para>

        <para>Der Hacken bei <literal>download an overview map</literal> wird
        CacheWolf veranlassen eine Kachel zu ermitteln und herunterzuladen,
        die das gesamte Rechteck umschliesst.</para>

        <para>Die eben beschriebene Kachelmethode kann sehr viele Daten
        (Dateien) generieren. In Gebieten, wo Caches weit auseinander liegen
        erzeugt man hierdurch einen ziemlichen Überhang an Daten. Daher
        besteht auch die Möglichkeit, Karten je Cache zu laden:</para>

        <para><inlinemediaobject>
            <imageobject>
              <imagedata fileref="pics/georef_per_cache.jpg" />
            </imageobject>
          </inlinemediaobject></para>

        <para>Auch hier besteht die Möglichkeit eine Karte je Cache in der
        Datenbank oder nur für die, die in der Listenansicht (einen Häckchen
        wurde gesetzt) selektiert wurden.</para>

        <para>Durch ein Klick auf <literal>OK</literal> beginnt der Download.
        Je nach dem, wie die Parameter eingestellt wurden kann der Download
        etwas Zeit in Anspruch nehmen.</para>
      </section>

      <section>
        <title>Importieren</title>

        <para>Der Import von Karten erfolgt durch die Auswahl eines
        Verzeichnisses, in dem sich Karten im Format (PNG, JPG, GIF, BMP)
        befinden (Leider werden die Karten selbst in dem Verzeichnis nicht
        angezeigt). Wenn sich ebenfalls .map Deteien in dem Verzeichjnis
        befinden, wird CacheWolf diese Dateien zum Kalibrieren der
        gleichnamigen Kartendatei verwenden.</para>

        <para><example>
            <title>Kartendatei mit zugehörige .map Datei</title>

            <para>Kartendatei: 01x01.png .map Datei: 01x01.map</para>
          </example></para>

        <para>Mit einer .map Datei meinen wir eine Datei im OziExplorer
        format: <ulink
        url="http://www.rus-roads.ru/gps/help_ozi/map_file_format.html">http://www.rus-roads.ru/gps/help_ozi/map_file_format.html</ulink>.
        CacheWolf nutzt die Zeilen mit den Präfixen MMPXY und MMPLL; also
        müssen insgesamt 8 Zeilen vorhanden sein: und zwar zuerst die MMPXY
        zeilen und dann die MMPLL Zeilen.</para>

        <example>
          <title>Map Beispieldatei</title>

          <para>MMPNUM,4</para>

          <para>MMPXY,1,10,10</para>

          <para>MMPXY,2,982,815</para>

          <para>MMPXY,3,10,815</para>

          <para>MMPXY,4,982,10</para>

          <para>MMPLL,1, 12.966397, 50.827195</para>

          <para>MMPLL,2, 13.009637, 50.801890</para>

          <para>MMPLL,3, 12.964382, 50.803439</para>

          <para>MMPLL,4, 13.011675, 50.825644</para>
        </example>

        <para></para>
      </section>

      <section>
        <title>Kalibrieren</title>

        <para>Zum Kalibrieren einer Karte muss man für mindestens drei Punkte
        auf der Karte die GPS Koordinaten (WGS84, DMM) kennen. CacheWolf kann
        aber auch mit mehr Koordinaten arbeiten; dadurch wird die Kalibrierung
        genauer. Durch klick auf <literal>Anwendung -&gt; Karten -&gt;
        Kalibrieren</literal> erhält man folgendes Bild:</para>

        <para><inlinemediaobject>
            <imageobject>
              <imagedata fileref="pics/kalib.png" />
            </imageobject>
          </inlinemediaobject></para>

        <para>Zum kalibrieren nun eine Karte aus der Liste "Nicht kalibrierte
        Karten" auswählen und auf "Laden" klicken. Danach erscheint die Karte
        in einem neuen Fenster. Ich empfehle dieses Fenster auf die volle
        Bildschirmgröße zu vergrößern.</para>

        <para><inlinemediaobject>
            <imageobject>
              <imagedata fileref="pics/karte.png" />
            </imageobject>
          </inlinemediaobject></para>

        <para>Jetzt musste Du für drei Punkte auf der Karte die GPS
        Koordinaten eingeben. Hierzu einen entsprechenden Referenzpunkt mit
        der Maus anklicken: an der Stelle wird ein rotes Kreuz auf der Karte
        gezeichnet und ein Eingabefenster erscheint, um die Koordinaten
        einzugeben (siehe <xref linkend="zentrum" />).</para>

        <para>Nachdem Du drei Punkte angegeben hast wird Cachewolf ab dem
        vierten Punkt die errechneten Koordinaten unterhalb der Karte
        anzeigen:</para>

        <para><inlinemediaobject>
            <imageobject>
              <imagedata fileref="pics/die_vierte.png" />
            </imageobject>
          </inlinemediaobject></para>

        <para>Die Kalibrierung wird beendet durch einen klick auf den
        "Fertig!" Knopf.</para>

        <para>Du kannst die kalibrierung jederzeit erneuern in dem Du im
        Kartenauswahlfenster einfach eine Karte aus der Liste "Kalibrierte
        Karten" lädst.</para>

        <para>Die Karten werden angeiegt, wenn man in der Goto-Ansicht auf
        "map" klickt oder in dem man in der Details-Ansicht auf die grün
        angedeutete Weltkugel klickt.</para>
      </section>
    </section>

    <section>
      <title>Speichern</title>

      <para>Notizen werden durch den Wechsel aus der Detailansicht sofort
      gespeichert. Alle anderen Änderungen, die man in der Detailansicht
      (siehe <xref lang="" linkend="detailansicht" />) zu einem Cache werden
      erst gespeichert, wenn man diese Menüoption wählt.</para>
    </section>

    <section>
      <title>Speichern &amp; Beenden</title>

      <para>Zusätzlich zum Speichern, wird durch diesen Menüeintrag CacheWolf
      beendet.</para>
    </section>

    <section>
      <title>Beenden</title>

      <para>Beenden beendet CacheWolf!</para>
    </section>
  </section>

  <section>
    <title>Suchen</title>

    <para></para>

    <section>
      <title>Suchen</title>

      <para>CacheWolf sucht im Namen und im Wegpunkt nach Übereinstimmung zum
      eingegebenen Suchbegriff. Es wird nach Bestandteilen gesucht und nicht
      nach einer genauen! Übereinstimmung. Das Ergebnis der Suche wird in der
      Listenansicht dargestellt. Caches, die nicht passen werden
      ausgeblendet!</para>
    </section>

    <section>
      <title>Suche aufheben</title>

      <para>Weil Caches, die den Suchbegriff nicht erfüllen, ausgeblendet
      werden, kann man alle Caches mit dieser Menüoption wieder anzeigen
      lassen.</para>
    </section>
  </section>

  <section>
    <title id="filter">Filter</title>

    <para></para>

    <section>
      <title>Anwenden</title>

      <para></para>
    </section>

    <section>
      <title>Erzeugen</title>

      <para></para>
    </section>

    <section>
      <title>Umkehren</title>

      <para></para>
    </section>

    <section>
      <title>Aufheben</title>

      <para></para>
    </section>

    <section>
      <title>Auswahl filtern</title>

      <para></para>
    </section>

    <section>
      <title>Zeige Blacklist</title>

      <para></para>
    </section>

    <section>
      <title>Cachetour</title>

      <para></para>
    </section>
  </section>

  <section>
    <title id="verwalten">Verwalten</title>

    <para>Diese Menügruppe stellt einige nützliche Funktionen zur
    Massenverwaltung der „Datenbank“, dem Profil. Es ist wichtig zu wissen,
    dass diese Funktionen auf alle sichtbaren Caches in der Listenansicht
    angewendet werden. Man muss also vorher mit dem Filter arbeiten, um die
    Caches zu identifizieren, die man kopieren, löschen oder verschieben
    möchte.</para>

    <section>
      <title>Kopieren</title>

      <para>Mit dieser Funktion werden die Caches in der Listenansicht in ein
      Zielverzeichnis kopiert. Die Caches bleiben allerdings in der Datenbank
      (Profil) erhalten. In dem Zielverzeichnis befinden sich nach dem
      Kopieren alle Cachebeschreibungen (\*.xml), Bilder zu den Caches und die
      index.xml. Man hat also eine neue Datenbank erzeugt! Diese lässt sich
      durch die Einstellung in den Präferenzen (oder in den Profilen)
      öffnen.</para>
    </section>

    <section>
      <title>Verschieben</title>

      <para>Mit dieser Funktion werden die Caches in der Listenansicht in ein
      Zielverzeichnis verschoben. Die Caches werden aus der aktuellen
      Datenbank (Profil) gelöscht. In dem Zielverzeichnis befinden sich nach
      dem Verschieben alle Cachebeschreibungen (\*.xml), Bilder zu den Caches
      und die index.xml. Man hat also einen neue Datenbank erzeugt! Diese
      lässt sich durch die Einstellung in den Präferenzen (oder in den
      Profilen) öffnen.</para>
    </section>

    <section>
      <title>Löschen</title>

      <para>Mit dieser Funktion werden die Caches in der aktuellen Datenbank
      unwiderruflich gelöscht. Man kann also mit dieser Funktion Speicherplatz
      frei machen.</para>
    </section>

    <section>
      <title>Index neu erstellen</title>

      <para></para>
    </section>

    <section>
      <title id="tbugs_verwalten">Travelbugs verwalten</title>

      <para></para>
    </section>
  </section>

  <section>
    <title>Über</title>

    <section>
      <title>Über</title>

      <para>Eine kleine Einführung in CacheWolf und wer die Software
      geschrieben hat.</para>
    </section>

    <section>
      <title>Legende</title>

      <para>Anzeigen der Legende der Farben und Symbole</para>
    </section>

    <section>
      <title>WolfLanguage</title>

      <para>Dieser Menüpunkt öffnet eine Hilfeseite für die im Löser
      verfügbaren Kommandos (bekommt man übrigens auch direkt in der <xref
      linkend="loeser" /> Ansicht).</para>
    </section>

    <section>
      <title>System</title>

      <para>Dieser Menüpunkt zeigt eine Auswahl von Systeminformationen. Diese
      sind für den Support wichtig.</para>
    </section>

    <section>
      <title>Version Prüfen</title>

      <para>Prüft auf neue Versionen von cacheWolf (Internetverbindung
      notwendig!)</para>
    </section>
  </section>
</chapter>